.my-footer {
    height: 5em;
    background-color: #163b65;
    margin-top: 2em;
    padding: 1em;
    color: white;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.redText {
    color: red;
}

.notie-container {
    box-shadow: none;
}

.datepicker{
z-index: 10000;
}