{{template "base" .}}

{{define "content"}}
    <div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="Woman and Laptop">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First Slide label</h5>
                    <p>Lorem ipsum</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/tray.png" class="d-block w-100" alt="Tray with coffee">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second Slide label</h5>
                    <p>Lorem ipsum</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/outside.png" class="d-block w-100" alt="Outside">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third Slide label</h5>
                    <p>Lorem ipsum</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4"> Welcome to Fort Smythe Bed and Breakfast</h1>
                <p>Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be the
                    vacation bla bla bla.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be the
                    vacation bla bla bla.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be the
                    vacation bla bla bla.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be the
                    vacation bla bla bla.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be the
                    vacation bla bla bla.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>
            </div>
        </div>
    </div>
{{end}}
